<!DOCTYPE html>
<html lang="zxx">
    
<!-- Mirrored from templates.hibootstrap.com/techex/default/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Dec 2024 10:01:52 GMT -->
<head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="assets/fonts/flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!--=== Magnific Popup Min CSS ===-->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Nice Select CSS --> 
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="assets/css/theme-dark.css">
        <!--=== Title & Favicon ===-->
        <title>Vickins Technologies - Contact</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png">
    </head>
    <body>
              <!-- Pre Loader -->
<div class="preloader">
	<div class="loader">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
   </div>
   <!-- End Pre Loader -->

   <!-- Preloader CSS -->
   <style>
	/* Preloader Background */
	.preloader {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #ffffff; /* White background */
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    z-index: 9999;
	}
   
	/* Loader Animation */
	.loader {
	    display: flex;
	    justify-content: space-between;
	    width: 80px;
	}
   
	.loader span {
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    background-color: #007bff;
	    border-radius: 50%;
	    animation: bounce 1.5s infinite ease-in-out;
	}
   
	.loader span:nth-child(2) {
	    animation-delay: 0.3s;
	}
   
	.loader span:nth-child(3) {
	    animation-delay: 0.6s;
	}
   
	@keyframes bounce {
	    0%, 80%, 100% {
		 transform: scale(0);
	    }
	    40% {
		 transform: scale(1);
	    }
	}
   </style>
        <!-- End Pre Loader -->



        <!-- Start Navbar Area -->
        <div class="navbar-area">

              <div class="mobile-nav">
                   <a href="/" class="logo">
                       <img src="assets/images/logo1.png" class="logo-one" style="width: 60px; height: auto;" alt="Logo">
                       <img src="assets/images/logo2.png" class="logo-two" style="width: 60px; height: auto;" alt="Logo">
                       
                  </a>
              </div>
  
             <!-- Menu For Desktop Device -->
  <div class="main-nav">
         <div class="container">
             <nav class="navbar navbar-expand-md navbar-light">
                 <a class="navbar-brand" href="/">
                     <img src="assets/images/logo1.png" class="logo-one" style="width: 80px; height: auto;" alt="Logo">
                     <img src="assets/images/logo2.png" class="logo-two" style="width: 80px; height: auto;" alt="Logo">
                 </a>
     
                 <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                     <ul class="navbar-nav m-auto">
                         <li class="nav-item">
                             <a href="/" class="nav-link active">Home</a>
                         </li>
     
                         <li class="nav-item">
                             <a href="#about" class="nav-link">About</a>
                         </li>
     
                         <li class="nav-item">
                             <a href="#" class="nav-link">
                                 Services
                                 <i class='bx bx-caret-down'></i>
                             </a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">IT Consultancy</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Business Solutions</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Web Development</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Cloud Computing</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Data Analysis</a>
                                 </li>
                             </ul>
                         </li>
                         <li class="nav-item">
                             <a href="#" class="nav-link">
                                 Blog
                                 <i class='bx bx-caret-down'></i>
                             </a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Technology Trends</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Business Strategies</a>
                                 </li>
                                 <li class="nav-item">
                                     <a href="/" class="nav-link">Case Studies</a>
                                 </li>
                             </ul>
                         </li>
  
                         <li class="nav-item">
                             <a href="#store" class="nav-link">Shop</a>
                         </li>
                     </ul>
                   
                     <div class="nav-side d-display">
                         <div class="nav-side-item">
                             <div class="get-btn">
                                 <a href="tel:+254794501005" class="default-btn btn-bg-two border-radius-50">
                                     Contact Support <i class='bx bx-phone'></i>
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
             </nav>
         </div>
     </div>
              <div class="side-nav-responsive">
                  <div class="container-max">
                      <div class="dot-menu">
                          <div class="circle-inner">
                              <div class="in-circle circle-one"></div>
                              <div class="in-circle circle-two"></div>
                              <div class="in-circle circle-three"></div>
                          </div>
                      </div>
                      
                      <div class="container">
                          <div class="side-nav-inner">
                              <div class="side-nav justify-content-center align-items-center">
                                  <div class="side-nav-item nav-side">
                                      <div class="search-box">
                                          <i class='bx bx-search'></i>
                                      </div>
                                      <div class="get-btn">
                                            <a href="tel:+254794501005" class="default-btn btn-bg-two border-radius-50">
                                                Contact Support </i>
                                            </a>
                                        </div>
                                               
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Navbar Area -->
  
          <!-- Search Overlay -->
          <div class="search-overlay">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="search-layer"></div>
                      <div class="search-layer"></div>
                      <div class="search-layer"></div>
                      
                      <div class="search-close">
                          <span class="search-close-line"></span>
                          <span class="search-close-line"></span>
                      </div>
  
                      <div class="search-form">
                          <form>
                              <input type="text" class="input-search" placeholder="Search here...">
                              <button type="submit"><i class='bx bx-search'></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Search Overlay -->

        <!-- Inner Banner -->
        <div class="inner-banner">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevrons-right'></i>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="inner-shape">
                <img src="assets/images/shape/inner-shape.png" alt="Images">
            </div>
        </div>
        <!-- Inner Banner End -->

<!-- Contact Form Area -->
<div class="contact-form-area pt-100 pb-70">
       <div class="container">
           <div class="section-title text-center">
               <h2>Get In Touch With Us</h2>
           </div>
   
           <div class="row pt-45">
               <div class="col-lg-4">
                   <div class="contact-info mr-20">
                       <span>Contact Information</span>
                       <h2>We'd Love to Hear From You</h2>
                       <p>If you have any questions or need assistance, feel free to reach out to us. We're here to help and look forward to connecting with you!</p>
                       <ul>
                           <li>
                               <div class="content">
                                   <i class='bx bx-phone-call'></i>
                                   <h3>Phone Number</h3> 
                                   <a href="tel:12122555511">+254 794 501 005</a>
                               </div>
                           </li>
   
                           <li>
                               <div class="content">
                                   <i class='bx bxs-map'></i>
                                   <h3>Address</h3> 
                                   <span>Kerugoya, Kenya</span>
                               </div>
                           </li>
   
                           <li>
                               <div class="content">
                                   <i class='bx bx-message'></i>
                                   <h3>Email Us</h3>
                                   <!-- Email obfuscation -->
                                   <a href="javascript:void(0);" onclick="window.location.href = 'mailto:' + 'vickinstechnologies' + '@' + 'gmail' + '.' + 'com';">
                                       vickinstechnologies@gmail.com
                                   </a>
                               </div>
                           </li>
                       </ul>
                   </div>
               </div>
   
               <div class="col-lg-8">
                   <div class="contact-form">
                       <form id="contactForm" action="#" method="POST">
                           <div class="row">
                               <div class="col-lg-6">
                                   <div class="form-group">
                                       <label for="name">Your Name <span>*</span></label>
                                       <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
   
                               <div class="col-lg-6">
                                   <div class="form-group">
                                       <label for="email">Your Email <span>*</span></label>
                                       <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
   
                               <div class="col-lg-6">
                                   <div class="form-group">
                                       <label for="phone_number">Phone Number <span>*</span></label>
                                       <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your phone number" class="form-control" placeholder="Phone Number">
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
   
                               <div class="col-lg-6">
                                   <div class="form-group">
                                       <label for="msg_subject">Subject <span>*</span></label>
                                       <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter the subject" placeholder="Subject">
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
   
                               <div class="col-lg-12 col-md-12">
                                   <div class="form-group">
                                       <label for="message">Your Message <span>*</span></label>
                                       <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Please write your message" placeholder="Your Message"></textarea>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
   
                               <div class="col-lg-12 col-md-12">
                                   <div class="agree-label">
                                       <input type="checkbox" id="chb1" required>
                                       <label for="chb1">
                                           I agree to the <a href="/terms">Terms & Conditions</a> and <a href="/policy">Privacy Policy</a>.
                                       </label>
                                   </div>
                               </div>
   
                               <div class="col-lg-12 col-md-12 text-center">
                                   <button type="submit" class="default-btn btn-bg-two border-radius-50">
                                       Send Message <i class='bx bx-chevron-right'></i>
                                   </button>
                                   <div id="msgSubmit" class="h3 text-center hidden"></div>
                                   <div class="clearfix"></div>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Contact Form Area End -->
   

<!-- Map Area -->
<div class="map-area">
       <div class="container-fluid m-0 p-0">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15958.67205324992!2d37.27109695351748!3d-0.518027391510362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1840d4181db19a3f%3A0x9b089f4cbebdb70c!2sKerugoya%2C%20Kenya!5e0!3m2!1sen!2sbd!4v1607173226867!5m2!1sen!2sbd"></iframe>
       </div>
   </div>
   <!-- Map Area End -->
   
   

<!-- Footer Area Start -->
<footer class="footer-area footer-bg">
	<div class="container">
	    <div class="footer-top pt-100 pb-70">
		 <div class="row">
		     <!-- About Us Section -->
		     <div class="col-lg-4 col-sm-6">
			  <div class="footer-widget">
			      <div class="footer-logo">
				   <a href="/">
					<img src="assets/images/logo2.png" alt="Company Logo" style="width: 150px;">
				   </a>
			      </div>
			      <p>
				   Vickins Technologies provides innovative IT solutions to empower businesses worldwide. From consultancy to development, we help you grow and succeed in today’s digital age.
			      </p>
			      
			  </div>
		     </div>
   
		     <!-- Services Section -->
		     <div class="col-lg-2 col-sm-6">
			  <div class="footer-widget">
			      <h3>Our Services</h3>
			      <ul class="footer-list">
				   <li><a href="/service"><i class='bx bx-chevron-right'></i> IT Consulting</a></li>
				   <li><a href="/service"><i class='bx bx-chevron-right'></i> Business Solutions</a></li>
				   <li><a href="/service"><i class='bx bx-chevron-right'></i> Web Development</a></li>
				   <li><a href="/service"><i class='bx bx-chevron-right'></i> Cloud Solutions</a></li>
				   <li><a href="/service"><i class='bx bx-chevron-right'></i> Data Analytics</a></li>
			      </ul>
			  </div>
		     </div>
   
   
		     <!-- Newsletter Section -->
		     <div class="col-lg-3 col-sm-6">
			  <div class="footer-widget">
			      <h3>Stay Updated</h3>
			      <p>Subscribe to our newsletter for the latest updates, innovations, and trends in technology.</p>
			      <div class="newsletter-area">
				   <form class="newsletter-form" method="POST">
					<input type="email" class="form-control" placeholder="Your Email Address" name="EMAIL" required>
					<button class="subscribe-btn" type="submit">
					    <i class='bx bxs-paper-plane'></i>
					</button>
				   </form>
			      </div>
			  </div>
		     </div>
		 </div>
	    </div>
   
	    <!-- Copyright Area -->
	    <div class="copy-right-area">
		 <div class="copy-right-text text-center">
		     <p>
			  &copy; <script>document.write(new Date().getFullYear())</script> Vickins Technologies. All Rights Reserved. <br>
			  Designed by <a href="https://vickinstechnologies.com/" target="_blank">Vickins Technologies</a>
		     </p>
		 </div>
	    </div>
	</div>
   </footer>
   <!-- Footer Area End -->

        <!-- Color Switch Button -->
        <div class="switch-box">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Color Switch Button End -->

        <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/meanmenu.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>
        
    </body>

<!-- Mirrored from templates.hibootstrap.com/techex/default/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Dec 2024 10:01:52 GMT -->
</html>